<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Composition" version="1.0.20" targetFramework="win81" />
  <package id="MVVMHelpers.Metro" version="2013.2.00.00" targetFramework="win81" />
  <package id="Prism.PubSubEvents" version="1.0.0" targetFramework="win81" />
  <package id="Prism.StoreApps" version="1.1.0" targetFramework="win81" />
  <package id="Unity" version="3.0.1304.1" targetFramework="win81" />
</packages>